*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: block;
    background-color: #b1b1b1;
    height: 100%;
}


#header {
    background-color: #747373;
    display: inline-flex;
    height: 75px;
    width: 100%;
    padding: 10px;
}

/*   
  @media (max-width: 750px) {
    #header {
      display: inline-flex;
    }

    body #main {
        margin: 0px;
      }
  } */


.header_top{
    /* background-color: #8b323288; */
    display: flex;
    
}

    .hiperUpsin{
        width: auto;
        max-height: 75px;
    }

    .nameUpsin{
        max-width: 200px; /* Establece el ancho máximo de la imagen al 100% del contenedor */
        height: auto; /* Permite que la altura de la imagen se ajuste proporcionalmente al ancho */
        display: block; /* Asegura que la imagen tenga un comportamiento de bloque para respetar los estilos */
    }


#main{
    display: block;
    padding: 10px 35px;
    width: 100%;
    height: 100%;
    /* display: grid;
    place-items: center; */
}

    /* .main-content{
        width: 100%;
        height: 100%;
    } */

        #chat {        
            min-height: 500px;
            /* max-height: 500px; */

            height: 100%;
            /* border: 1px solid #ccc; */
            /* box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%); */
            border-radius: 8px;
            overflow-y: scroll;
        }

        #chat::-webkit-scrollbar {
            width: 8px;
          }
          
          #chat::-webkit-scrollbar-track {
            background-color: transparent;
          }
          
          #chat::-webkit-scrollbar-thumb {
            background-color: #d4d4d4;
            border-radius: 4px;
          }
          
          #chat::-webkit-scrollbar-thumb:hover {
            background-color: #a6a6a6;
          }



        .message {
            margin-bottom: 10px;
            clear: both;
            overflow: hidden;
        }

        .user-message {
            float: right;
            font-size: 16px;
            outline: 0;
            border: 0;
            will-change: box-shadow,transform;
            background: radial-gradient( 100% 100% at 100% 0%, rgb(23, 110, 196) 0%, dodgerblue 100% );
            box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
            padding: 4px;
            border-radius: 7px;
            color: #fff;
            min-height: 2.6em;
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.205);
        }
        

        .bot-message {
            float: left;
            font-size: 16px;
            outline: 0;
            border: 0;
            will-change: box-shadow,transform;
            background: radial-gradient( 100% 100% at 100% 0%, #FAFAFA 0%, #FAFAFA 100% );
            box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
            padding: 4px;
            border-radius: 7px;
            color: #000000;
            min-height: 2.6em;
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.205);
        }

        .message-content {
            text-align: justify;
            padding: 5px;
        }

        #chat-inputs {
            display: flex;
            /* position: fixed;
            bottom: 0;
            left: 0; */
            justify-content: center;
        }

  
        .divMsg {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            width: 100%;
            min-width: 150px;
            height: auto;
            margin-left: 5px;
        }

        #inputMensaje {
        font-family: inherit;
        font-size: inherit;
        background-color: #f4f2f2;
        border: none;
        color: #646464;
        padding: 0.7rem 1rem;
        border-radius: 8px;
        width: 100%;
        transition: all ease-in-out .5s;
        overflow-y: auto;
        resize: none;
        max-height: 5em; /* Ajusta el máximo de 5 filas visibles */
        margin-right: -2rem;
        } 

        #inputMensaje:hover, #inputMensaje:focus {
            box-shadow: 0 0 1em #00000013;
        }

        #inputMensaje:focus {
            outline: none;
            background-color: #f0eeee;
        }

        #inputMensaje::-webkit-input-placeholder {
            font-weight: 100;
            color: #ccc;
        }

        #inputMensaje:focus + .search__button {
            background-color: #f0eeee;
        }

        #inputMensaje::-webkit-scrollbar {
            width: 8px;
          }
          
          #inputMensaje::-webkit-scrollbar-track {
            background-color: #f5f5f5;
          }
          
          #inputMensaje::-webkit-scrollbar-thumb {
            background-color: #d4d4d4;
            border-radius: 4px;
          }
          
          #inputMensaje::-webkit-scrollbar-thumb:hover {
            background-color: #a6a6a6;
          }

        .btnEnviar {
            border: none;
            background-color: #f4f2f2;
            margin-top: .1em;
            transform: translateX(-1em);
        }

        .btnEnviar:hover {
            cursor: pointer;
        }

        .enviar_icon {
            /* height: 1.3em;
            width: 1.3em; */
            fill: #888888;
        }


        .btn {
            align-items: center;
            appearance: none;
            /* background-color: #FCFCFD; */
            border-radius: 7px;
            border-width: 0;
            box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
            box-sizing: border-box;
            color: #36395A;
            cursor: pointer;
            display: inline-flex;
            font-family: inherit;
            height: 40px;
            justify-content: center;
            line-height: 1;
            list-style: none;
            overflow: hidden;
            padding: 0 16px;
            position: relative;
            text-align: left;
            text-decoration: none;
            transition: box-shadow .15s,transform .15s;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            white-space: nowrap;
            will-change: box-shadow,transform;
            font-size: 18px;
        }

        .btn:focus {
            box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        }

        .btn:hover {
            box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
            transform: translateY(-2px);
        }

        .btn:active {
            box-shadow: #D6D6E7 0 3px 7px inset;
            transform: translateY(2px);
        }
















