<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot</title>

    <link rel="stylesheet" href="/static/css/styles.css">


</head>
<body>

    <div id="chatbot-form">
        <input type="text" id="entrada" placeholder="Ingrese su pregunta" required>
        <button id="btnEnviar" type="button">Enviar</button>
    </div>

    

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/js/scripts.js"></script>
</body>
</html>
